<div id="preloader-active">

</div>
<div class="modal fade" id="ModalApplyJobForm" tabindex="-1" aria-hidden="true">
  <div class="modal-dialog modal-lg">
    <div class="modal-content apply-job-form">
      <button class="btn-close" type="button" data-bs-dismiss="modal" aria-label="Close"></button>
      <div class="modal-body pl-30 pr-30 pt-50">
        <div class="text-center">
          <p class="font-sm text-brand-2">Job Application </p>
          <h2 class="mt-10 mb-5 text-brand-1 text-capitalize">Start your career today</h2>
          <p class="font-sm text-muted mb-30">Please fill in your information and send it to the employer. </p>
        </div>
        <form class="login-register text-start mt-20 pb-30" action="#">
          <div class="form-group">
            <label class="form-label" for="input-1">Full Name *</label>
            <input class="form-control" id="input-1" type="text" required="" name="fullname" placeholder="Steven Job">
          </div>
          <div class="form-group">
            <label class="form-label" for="input-2">Email *</label>
            <input class="form-control" id="input-2" type="email" required="" name="emailaddress"
              placeholder="stevenjob@gmail.com">
          </div>
          <div class="form-group">
            <label class="form-label" for="number">Contact Number *</label>
            <input class="form-control" id="number" type="text" required="" name="phone" placeholder="(+01) 234 567 89">
          </div>
          <div class="form-group">
            <label class="form-label" for="des">Description</label>
            <input class="form-control" id="des" type="text" required="" name="Description"
              placeholder="Your description...">
          </div>
          <div class="form-group">
            <label class="form-label" for="file">Upload Resume</label>
            <input class="form-control" id="file" name="resume" type="file">
          </div>
          <div class="login_footer form-group d-flex justify-content-between">
            <label class="cb-container">
              <input type="checkbox"><span class="text-small">Agree our terms and policy</span><span
                class="checkmark"></span>
            </label><a class="text-muted" href="page-contact.html">Lean more</a>
          </div>
          <div class="form-group">
            <button class="btn btn-default hover-up w-100" type="submit" name="login">Apply Job</button>
          </div>
          <div class="text-muted text-center">Do you need support? <a href="page-contact.html">Contact Us</a></div>
        </form>
      </div>
    </div>
  </div>
</div>
<app-header></app-header>
<main class="main">
  <div class="bg-homepage1"></div>
  <section class="section-box">
    <div class="banner-hero hero-1">
      <div class="banner-inner">
        <div class="row">
          <div class="col-xl-8 col-lg-12">
            <div class="block-banner">
              <h1 class="heading-banner wow animate__animated animate__fadeInUp">The <span class="color-brand-2">Easiest
                  Way</span><br class="d-none d-lg-block">to Get Your New Offre</h1>
              <div class="banner-description mt-20 wow animate__animated animate__fadeInUp" data-wow-delay=".1s">Each
                month, more than 3 million job seekers, Intern, Freelancer turn to <br
                  class="d-none d-lg-block">websites in their search for
                Opportunity, making over 140,000 <br class="d-none d-lg-block">applications every single day</div>


            </div>
          </div>
          <div class="col-xl-4 col-lg-12 d-none d-xl-block col-md-6">
            <div class="banner-imgs">
              <div class="block-1 shape-1"><img class="img-responsive"
                  src="./assets/imgs/page/homepage1/banner1.png"></div>
              <div class="block-2 shape-2"><img class="img-responsive"
                  src="./assets/imgs/page/homepage1/banner2.png"></div>
              <div class="block-3 shape-3"><img class="img-responsive"
                  src="./assets/imgs/page/homepage1/icon-top-banner.png"></div>
              <div class="block-4 shape-3"><img class="img-responsive"
                  src="./assets/imgs/page/homepage1/icon-bottom-banner.png"></div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <div class="mt-100"></div>

  <div class="section-box mb-30">
    <div class="container">
      <div class="box-we-hiring">
        <div class="text-1"><span class="text-we-are">We are</span><span class="text-hiring">Hiring</span></div>
        <div class="text-2">Let&rsquo;s <span class="color-brand-1">Work</span> Together<br> &amp; <span
            class="color-brand-1">Explore</span> Opportunities</div>
        <div class="text-3">
          <div class="btn btn-apply btn-apply-icon" data-bs-toggle="modal" data-bs-target="#ModalApplyJobForm">Apply now
          </div>
        </div>
      </div>
    </div>
  </div>
  <section class="section-box mt-50">
    <div class="container">
      <div class="text-center">
        <h2 class="section-title mb-10 wow animate__animated animate__fadeInUp">Offers of the day</h2>
        <p class="font-lg color-text-paragraph-2 wow animate__animated animate__fadeInUp">Search and connect with the
          right candidates faster. </p>
        <!--<div class="list-tabs mt-40">
            <ul class="nav nav-tabs" role="tablist">
              <li><a class="active" id="nav-tab-job-1" href="#tab-job-1" data-bs-toggle="tab" role="tab" aria-controls="tab-job-1" aria-selected="true"><img src="./assets/imgs/page/homepage1/management.svg"> Management</a></li>
              <li><a id="nav-tab-job-2" href="#tab-job-2" data-bs-toggle="tab" role="tab" aria-controls="tab-job-2" aria-selected="false"><img src="./assets/imgs/page/homepage1/marketing.svg"> Marketing &amp; Sale</a></li>
              <li><a id="nav-tab-job-3" href="#tab-job-3" data-bs-toggle="tab" role="tab" aria-controls="tab-job-3" aria-selected="false"><img src="./assets/imgs/page/homepage1/finance.svg"> Finance</a></li>
              <li><a id="nav-tab-job-4" href="#tab-job-4" data-bs-toggle="tab" role="tab" aria-controls="tab-job-4" aria-selected="false"><img src="./assets/imgs/page/homepage1/human.svg"> Human Resource</a></li>
              <li><a id="nav-tab-job-5" href="#tab-job-5" data-bs-toggle="tab" role="tab" aria-controls="tab-job-5" aria-selected="false"><img src="./assets/imgs/page/homepage1/retail.svg"> Retail &amp; Products</a></li>
              <li><a id="nav-tab-job-6" href="#tab-job-6" data-bs-toggle="tab" role="tab" aria-controls="tab-job-6" aria-selected="false"><img src="./assets/imgs/page/homepage1/content.svg"> Content Writer</a></li>
            </ul>
          </div>-->
      </div>
      <div class="mt-70">

        <div class="tab-content" id="myTabContent-1">
          <div class="tab-pane fade show active" id="tab-job-1" role="tabpanel" aria-labelledby="tab-job-1">
            <div class="row">
              <div *ngFor=" let item1 of dataArray2 |paginate: { itemsPerPage: 4, currentPage: x }"
                class="col-xl-3 col-lg-4 col-md-6 col-sm-12 col-12">
                <div class="card-grid-2 hover-up">
                  <div class="card-grid-2-image-left"><span class="flash"></span>
                    <div class="image-box"><img [src]="item1.user.user_image_url" width="50"></div>
                    <div class="right-info"><a class="name-job" [routerLink]="['/offre-job-details',item1.id]">{{
                        item1.titre_offre}}</a>
                      <span class="location-small">{{item1.location}}</span>
                    </div>
                  </div>
                  <div class="card-block-info">
                    <div class="mt-5"><span class="card-briefcase">{{item1.type_offre}}</span><span
                        class="card-briefcase">{{item1.type_contrat}}</span><span class="card-time"><span>
                          {{item1.start_date}}</span></span></div>
                    <p class="font-sm color-text-paragraph mt-15"> {{item1.description}}</p>
                    <div class="mt-30">
                      <a class="btn btn-grey-small mr-5" *ngFor="let item1 of item1.offre_categories"
                        href="jobs-grid.html"> {{ item1.souscategorie.sous_categorie_name }}</a>

                    </div>
                    <div class="card-2-bottom mt-30">
                      <div class="row">
                        <div class="col-lg-7 col-7"><span class="card-text-price"> {{item1.salaire}}TND</span><span
                            class="text-muted">/Month</span></div>
                        <div class="col-lg-5 col-5 text-end">
                          <div class="btn btn-apply-now" routerLink="/login">Apply now</div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>


            </div>
          </div>
          <div style="text-align:right;">
            <pagination-controls (pageChange)="x = $event"></pagination-controls>
          </div>
        </div>
      </div>
    </div>
  </section>

  <section class="section-box overflow-visible mt-50 mb-50">
    <div class="text-center">
      <h2 class="section-title mb-10 wow animate__animated animate__fadeInUp">Our Numbers</h2>
      <div class="container">
        <div class="row">
          <div class="col-xl-3 col-lg-3 col-md-6 col-sm-6 col-12">
            <div class="text-center">
              <h1 class="color-brand-2"><span class="count">{{dataArray10.admin}}</span><span> +</span></h1>
              <h5>Companies </h5>
              <p class="font-sm color-text-paragraph mt-10">Empowering companies to thrive in a competitive market. </p>
            </div>
          </div>
          <div class="col-xl-3 col-lg-3 col-md-6 col-sm-6 col-12">
            <div class="text-center">
              <h1 class="color-brand-2"><span class="count">{{dataArray10.offer}}</span><span> +</span></h1>
              <h5>Offers </h5>
              <p class="font-sm color-text-paragraph mt-10">Unlocking a world of possibilities with our diverse range of
                offers.
              </p>
            </div>
          </div>
          <div class="col-xl-3 col-lg-3 col-md-6 col-sm-6 col-12">
            <div class="text-center">
              <h1 class="color-brand-2"><span class="count">{{dataArray10.candidates}}</span><span> +</span></h1>
              <h5>Skilled People</h5>
              <p class="font-sm color-text-paragraph mt-10">Matching the right talent with your business requirements.
              </p>
            </div>
          </div>
          <div class="col-xl-3 col-lg-3 col-md-6 col-sm-6 col-12">
            <div class="text-center">
              <h1 class="color-brand-2"><span class="count">{{dataArray10.domains}}</span><span> +</span></h1>
              <h5>Domain Offers</h5>
              <p class="font-sm color-text-paragraph mt-10">Unleashing the potential of your business through
                specialized domain offers.
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>

  </section>
  <section class="section-box mt-50">
    <div class="container">
      <div class="text-center">
        <h2 class="section-title mb-10 wow animate__animated animate__fadeInUp">Our Companies</h2>
        <p class="font-lg color-text-paragraph-2 wow animate__animated animate__fadeInUp">Discover your next career
          move, freelance gig, or internship</p>
      </div>
    </div>



    <div class="container">


      <div class="box-swiper mt-50">
        <div class="swiper-container swiper-group-1 swiper-style-2 swiper">
          <div class="swiper-wrapper pt-5">
            <div class="swiper-wrapper pt-5">
              <div class="swiper-slide">



                <div *ngFor=" let item2 of dataArray3.users"
                  class="item-5 hover-up wow animate__animated animate__fadeIn"><a>
                    <div class="item-logo">
                      <div class="image-left"><img  [routerLink]="['/company-details',item2.user.id]" width="80" [src]="item2.user.user_image_url"></div>
                      <div class="text-info-right">
                        <h4 [routerLink]="['/company-details',item2.user.id]">{{item2.user.firstname}}</h4><img
                          src="./assets/imgs/template/icons/star.svg"><img
                          src="./assets/imgs/template/icons/star.svg"><img
                          src="./assets/imgs/template/icons/star.svg"><img
                          src="./assets/imgs/template/icons/star.svg"><img
                          src="./assets/imgs/template/icons/star.svg"><span
                          class="font-xs color-text-mutted ml-10"><span>(</span><span>68</span><span>)</span></span>
                      </div>
                      <div [routerLink]="['/company-details',item2.user.id]" class="text-info-bottom mt-5"><span class="font-xs color-text-mutted icon-location">location
                          : {{item2.user.adress}}</span><span
                          class="font-xs color-text-mutted float-end mt-5">{{item2.offres_count}}<span>
                            Open Jobs</span></span></div>
                      </div>
                  </a></div>
              </div>
            </div>
          </div>
          <div style="text-align:right;">
            <pagination-controls (pageChange)="p = $event"></pagination-controls>
          </div>


        </div>
      </div>

    </div>



  </section>

  <script src="./assets/js/plugins/counterup.js"></script>
</main>