<div class="layout-wrapper layout-content-navbar">
  <div class="layout-container">
    <div class="layout-page">
      <app-header></app-header>
      <div class="content-wrapper">
        <div class="container-xxl flex-grow-1 container-p-y">

          <body>
            <main class="main">
              <section class="section-box">
                <div class="breacrumb-cover bg-img-about">
                  <div class="container">
                    <div class="row">
                      <div class="col-lg-6">
                        <h2 class="mb-10">Contact Us</h2>
                        <p class="font-lg color-text-paragraph-2">Have a question or need assistance? Contact us and our
                          team will be delighted to help!</p>
                      </div>
                      <div class="col-lg-6 text-lg-end">
                        <ul class="breadcrumbs mt-40">
                          <li><a class="home-icon" href="#">Home</a></li>
                          <li>Contact Us</li>
                        </ul>
                      </div>
                    </div>
                  </div>
                </div>
              </section>
              <section class="section-box mt-70">
                <div class="container">
                  <div class="row">
                    <div class="col-lg-8 mb-40"><span class="font-md color-brand-2 mt-20 d-inline-block">Contact
                        us</span>
                      <h2 class="mt-5 mb-10">Get in touch</h2>
                      <p class="font-md color-text-paragraph-2">TDon't hesitate to get in touch with us for any
                        inquiries, feedback, or support you may need. We're here to assist you!</p>
                      <form  (submit)="sendEmail($event)" class="contact-form-style mt-30" id="contact-form" action="#" method="post">
                        <div class="row wow animate__animated animate__fadeInUp" data-wow-delay=".1s">
                          <div class="col-lg-6 col-md-6">
                            <div class="input-style mb-20">
                              <input class="font-sm color-text-paragraph-2" name="name" placeholder="Enter your name"
                                type="text">
                            </div>
                          </div>
                          <div class="col-lg-6 col-md-6">
                            <div class="input-style mb-20">
                              <input class="font-sm color-text-paragraph-2" name="email" placeholder="Your email"
                                type="email">
                            </div>
                          </div>
                          <div class="col-lg-12 col-md-12">
                            <div class="textarea-style mb-30">
                              <textarea class="font-sm color-text-paragraph-2" name="message"
                                placeholder="Tell us about yourself"></textarea>
                            </div>
                            <button class="submit btn btn-send-message" type="submit">Send message</button>
                          </div>
                        </div>
                      </form>
                      <p class="form-messege"></p>
                    </div>
                    <div class="col-lg-4 text-center d-none d-lg-block"><img src="assets/imgs/page/contact/img.png"
                        alt="joxBox"></div>
                  </div>
                </div>
              </section>
            </main>
          </body>
        </div>
      </div>
    </div>
  </div>
</div>