<div class="layout-wrapper layout-content-navbar">
  <div class="layout-container">
    <div class="layout-page">
      <app-header></app-header>
      <div class="content-wrapper">
        <div class="container-xxl flex-grow-1 container-p-y">
          <body>
            <main class="main">
        <section class="section-box">
          <div class="breacrumb-cover bg-img-about">
            <div class="container">
              <div class="row">
                <div class="col-lg-6">
                  <h2 class="mb-10">About Us</h2>
                  <p class="font-lg color-text-paragraph-2">Get the latest news, updates and tips</p>
                </div>
                <div class="col-lg-6 text-lg-end">
                  <ul class="breadcrumbs mt-40">
                    <li><a class="home-icon" href="">Home</a></li>
                    <li>About Us</li>
                  </ul>
                </div>
              </div>
            </div>
          </div>
        </section>
        <section class="section-box mt-50">
          <div class="post-loop-grid">
            <div class="container">
              <div class="text-center">
                <h6 class="f-18 color-text-mutted text-uppercase">Our Platform</h6>
                <h2 class="section-title mb-10 wow animate__animated animate__fadeInUp">About Our Platform</h2>
                <p class="font-sm color-text-paragraph wow animate__animated animate__fadeInUp w-lg-50 mx-auto">Welcome to our online recruitment platform, 
                  where we cater to the needs of freelancers, interns, and employees alike. Our platform is
                  designed to provide a comprehensive solution for individuals seeking diverse opportunities in the job market.</p>
              </div>
              <div class="row mt-70">
                <div class="col-lg-6 col-md-12 col-sm-12"><img src="assets/imgs/page/about/img-about2.png" alt="joxBox">
                </div>
                <div class="col-lg-6 col-md-12 col-sm-12">
                  <h3 class="mt-15">What we can do?</h3>
                  <div class="mt-20">
                    <p class="font-md color-text-paragraph mt-20">At our platform, we believe in the power of networking and collaboration. We provide a supportive 
                      community where freelancers, interns, and employees can connect, share experiences, and learn from each other.
                      Our goal is to empower individuals to thrive in their careers by providing the resources and opportunities they need to succeed.</p>
                    <p class="font-md color-text-paragraph mt-20">Join our platform today and unlock a world of possibilities for your freelance career, 
                      internship journey, or full-time employment.Together, let's build a thriving community that fosters growth and empowers professionals 
                      in their pursuit of success.</p>
                </div>
              </div>
            </div>
          </div>
          </div>
        </section>
        <section class="section-box mt-30 mb-40">
          <div class="container">
            <h2 class="text-center mb-15 wow animate__animated animate__fadeInUp">Our Happy User</h2>
            <div class="font-lg color-text-paragraph-2 text-center wow animate__animated animate__fadeInUp">We are immensely proud of the positive impact our platform has
              had on the lives and careers of our users. Don't just take our word for it – hear directly from our happy users who have achieved remarkable success and found
              fulfillment through our platform. From freelancers who have secured high-profile projects to interns who have gained invaluable industry experience, and employees
              who have landed their dream jobs, our platform has played a vital role in their journeys. These stories of success and satisfaction inspire us every day to continue providing
              an exceptional platform that empowers individuals to thrive professionally. <br class="d-none d-lg-block"> Join our community today and be a part of this growing network of happy and accomplished users!</div>
          </div>
        </section>
        <section class="section-box mt-50 mb-20">
          <div class="container">
            <div class="box-newsletter">
              <div class="row">
                <div class="col-xl-3 col-12 text-center d-none d-xl-block"><img
                    src="assets/imgs/template/newsletter-left.png" alt="joxBox"></div>
                <div class="col-lg-12 col-xl-6 col-12">
                  <h2 class="text-md-newsletter text-center">New Things Will Always<br> Update Regularly</h2>
                  <div class="box-form-newsletter mt-40">
                    <form [formGroup]="loginForm" class="form-newsletter" action="#">
                      <div class="form-group">
                        <input class="form-control" id="input-1" type="text" required="" name="email" formControlName="email" [(ngModel)]="user.email" placeholder="Enter your name or email here">
                      </div>
                      <div class="form-group">
                        <input class="form-control" id="input-4" type="password" required="" name="password" formControlName="password" [(ngModel)]="user.password" placeholder="Enter your password">
                      </div>
                      <div class="form-group">
                        <button class="btn btn-default font-heading icon-send-letter" (click)="login()">Login</button>
                      </div>
                    </form>
                  </div>
                </div>
                <div class="col-xl-3 col-12 text-center d-none d-xl-block"><img
                    src="assets/imgs/template/newsletter-right.png" alt="joxBox"></div>
              </div>
            </div>
          </div>
        </section>
      </main>
    </body>
  </div>
  </div>
  </div>
  </div>
  </div>